# IDEs and System files
.DS_Store
.idea/
.vscode/
*.user
*.suo
*.sln.docstates

# Go Build files
/src/backend/mediabutler
/src/backend/dist/
/src/backend/data/
/src/backend/watch/
/src/backend/dest/

# Node/Svelte Build files
/src/frontend/node_modules/
/src/frontend/dist/

# Android Build files
/src/android/.gradle/
/src/android/build/
/src/android/app/build/
/src/android/local.properties
*.apk
*.aar

# Temporary and local test files
/temp/
/build/
*.db
*.db-wal
*.db-shm
